.todo {
  margin-top: 1.5%;
  margin-bottom: 1%;
  background-color: rgb(82, 43, 69);
  width: 30%;
  border-radius: 54px;
  margin-left: 34.20%;
}

#isDone {
    margin-left: 5%;
    margin-right: 5%;
  }

  #deleteButton {
    margin-left: 15px;
    font-family: cursive;
    cursor: pointer;
    border-radius: 54px;
  }
  #deleteButton:hover {
    color: rgb(168, 92, 143);
  }

  .todo:hover {
    color: rgb(168, 92, 143);
  }
